@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-geologica: "Geologica", sans-serif;
  --color-feuce-primary: #031f3d;
  --color-feuce-hover: #021c33;
  --color-feuce-gray: #d9d9d9;
}
